/*Adding slight padding around the entire page with a full image background*/
html{
  margin: 2% 10%;
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

/*LOGO and NAV styling*/
/*Flexed all children to move all content inline with spacing between each block*/
header{
display: flex;
justify-content: space-between;
font-family: 'Architects Daughter', cursive;
align-items: flex-end;

}

/*This div was created for additional flexibility for styling a header with our logo*/
.myLogo{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: space-between;
  width: 50%;
}

.myLogo img{
  width: 20%;
}

.myLogo h1{
  font-size: 2.5vw;
  align-self: center;
  color: #ffffff;
  text-shadow: 2px 2px 5px #ffffff, 2px 2px #000000, 0px 0px 5px #000000;
  }

nav{
 border-bottom: solid 2px #ffffff;
 width: auto;

}

nav a{
  font-size: 1.25vw;
  margin: 0 30px;
  text-decoration: none;
  color: #ffffff;
}

nav a:hover{
  text-shadow: 2px 2px 10px rgba(0,0,0,0.6), 0px 0px 10px rgba(0,0,0,0.6);
  transition: 800ms;
  transition-delay: 100ms;
  transition-timing-function: ease;
}
/*Primary content styling*/
main{
  display: flex;
  top: 25%;
  align-items: center;
  justify-content: space-around;
  margin: 5% 0;
  font-family: 'Architects Daughter', cursive;
}

/*Info bubble with montra*/
.booking{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 3;
  height: 450px;
  width: 450px;
  border-radius: 50%;
  align-self:flex-start;
  align-items: center;
  justify-content: center;
  box-shadow: -125px -2px 200px rgba(0,0,0,0.6), 125px 2px 200px rgba(0,0,0,0.6);
  background: rgba(167, 191, 203,0.6);
}

.booking h1{
  text-align: center;
  padding: 0 40px;
  color: #ffffff;
  font-size: 1.75vw;
  text-shadow: 2px 2px 5px #ffffff, 2px 2px #000000, 0px 0px 5px #000000;
}
.booking h2{
  text-align: center;
  font-size: 2.75vw;
  color: #ffffff;
  text-shadow: 2px 2px 5px #ffffff, 2px 2px #000000, 0px 0px 5px #000000;
}

.booking p{
  text-align: center;
  box-sizing: border-box;
  padding: 0 15px;
}

/*Contains consumer content*/
section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  max-width: 55%;


}

article{
  color: #ffffff;
  width: 30%;
  background:rgba(0, 0, 0, 0.6);
  padding: 0 5px;
  transition: 800ms;
  transition-delay: 100ms;
  transition-timing-function: ease;

}

article:hover {
  transform: scale(1.5);
  background:rgba(0, 0, 0, 0.9);
  box-shadow: 2px 2px 5px #ffffff, 4px 4px 10px #000000, 2px 2px 5px #ffffff, 4px 4px 10px #000000;;
}


article h1,article h2,article h3{
  font-size: 1vw;
  text-align: center;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
}

article p{
  font-size: .7vw;
  padding-top: 5px;
  }

  .tours img{
    width: 100%;
    height: auto;
    margin: 5px 0;
  }

  .tours p{
    border-bottom: .5px solid #ffffff;
  }

  footer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: #dee0e2;
    justify-content: space-between;
    min-height: 70%;
  }

  .contact{
    position: absolute;
    bottom: 0px;
  }

  .credits{
    position: absolute;
    bottom: 0px;
    right: 10%;

  }

  .credits ul{
    list-style: none;
  }

  aside{
    position: fixed;
    font-size: 2vw;
    top: 40%;
    left: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 0 5px 5px 0;
    transition: 800ms;
    transition-delay: 100ms;
    transition-timing-function: ease;
    }

  .social-bar i:hover{
    transform: scale(1.25);
  }

  @media (max-width:1080px) {
    html{
      background-position: center;
      background-size: auto;
    }

    nav{
      display: flex;
      flex-direction: column;
      align-items: center;
      border: none;
    }

    .myLogo img{
      width: auto;
      /*height: auto;*/
    }

    main{
      flex-direction: column;
      align-items: center;
    }
    section{
      flex-direction: column;
      width: 100%;
    }
    article{
      width: 100%;
    }
    .contact{
      position: relative;
      bottom: 0px;
    }

    .credits{
      position: relative;
      bottom: 0px;
      right: 1%;
    }

    .booking{
      align-self: center;
    }

  }
